/* cart.css */

body {
  color: black;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh; /* Adjust this value as needed */
  padding: 20px;
}

.cart-items-container {
  display: inline-block;
  width: 100%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

h1 {
  font-size: 64px;
  font-family: "Amatic SC", sans-serif;
  font-weight: 1000;
  color: rgb(93, 103, 85);
  text-align: center;
}

.cart-summary {
  text-align: right;
  padding-top: 16px;
  color: #3e4152;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  padding: 12px;
  position: relative;
}

.cart-item img {
  width: 100px;
  height: 100%;
  margin-right: 1rem;
  object-fit: cover;
}

.item-info h3 {
  font-size: 16px;
  margin: 0;
  color: #444;
}
.item-info p {
  margin: 0.5rem 0;
  font-weight: bold;
  color: #666;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  background-color: #c3b6b6;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.quantity-btn:hover {
  background-color: #ddd;
  border-color: #bbb;
}

.quantity-btn:active {
  background-color: #ccc;
}

.remove-btn {
  padding: 6px 12px;
  color: #fff;
  background-color: #d9534f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.price-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 12px 0;
  padding: 8px 0;
  border-top: 1px solid #eaeaec;
  color: #282c3f;
}

.price-item-tag {
  font-weight: 600;
}

.price-item-value {
  font-weight: 600;
  color: #282c3f;
}

.priceDetail-base-discount {
  color: #039ea6;
}

.cart-summary h3 {
  font-weight: bold;
  font-size: 18px;
  color: #3e4152;
  margin-top: 20px;
}

.checkout-btn {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  padding: 10px 16px;
  background-color: rgb(134, 165, 140);
  color: #fff;
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  padding: 2rem;
  color: #777;
}

.empty-cart img {
  height: 70vh; /* Maintain aspect ratio */
  width: 50vw; /* Full width of the container */
}

.cart-summary-container {
  background-color: white;
  border: 1px solid #eaeaec;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 12px 0;
  padding: 8px 0;
  border-bottom: 1px solid #eaeaec;
  color: #282c3f;
}

.price-item:last-child {
  border-bottom: none;
}

.price-item-tag {
  font-weight: 600;
  color: #535766;
}

.price-item-value {
  font-weight: 600;
  color: #282c3f;
}

.cart-summary h3 {
  font-weight: bold;
  font-size: 18px;
  color: #3e4152;
  margin-top: 20px;
  text-align: center;
}

.checkout-btn {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 12px;
  background-color: rgb(134, 165, 140);
  color: #fff;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}
.clear-cart-btn {
  width: 10%;
  margin-top: 15px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
}

.clear-cart-btn:hover {
  background-color: #c9302c;
}

