
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0px 90px;
}

.navbar ul {
    overflow: auto;
    margin: 10; /* Remove any default margin */
    padding: 10; /* Remove any default padding */
}

.navbar li {
    float: left;
    list-style: none;
    margin-top: 10px;
}

.navbar li a {
    margin-top: 10px;
    padding: 16px;
    font-size:20px;
    text-decoration: none;
    font-weight: bolder;
    font-family: monospace;
    color: rgb(93, 103, 85);
}

.navbar li a:hover {
    color: mintcream;
    background-color: rgba(255, 247, 247,0.2);
    font-weight: lighter;
}

.navbar-items
{
    padding: 12px;
    margin: 10px;
}

.navbar h3
{
    font-family: "Cinzel", serif;
    font-size: xx-large;
    color: rgb(93, 103, 85);
    font-weight:400;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 5); ;
}


.cart{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon-large {
    color: #5d6755;
    font-size: 37px;
}


